.content {
  max-width: 540px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'IBM Plex Mono', monospace;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #efe7d3;
  color: #1a0089;
  font-family: 'IBM Plex Mono', monospace; 
  /* color: #eb5e3a; cool orange color */
}

.header {
  display: flex;
  font-size: xx-large;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.footer {
  margin-top: auto;
  display: flex;
  gap: 16px; /* optional: adds space between items */
}

.footer-msg {
  padding-top: 15%;
  font-size: xx-small;
  bottom: 0px;
  width: 100%;
  text-align: center;
}


/* Hyperlink Styling */
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: #19008981; /* light gray underline */
  transition: text-decoration-color 0.2s;
}

a:hover, a:focus {
  text-decoration-color: #1a0089; /* darker underline on hover */
}

/* Add this to your CSS file */
.blinking-underscore {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}